
html,
body,
h1,
h2 {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-font-smoothing: antialiased;
}

#mainContainer {
	font-family: "museo-sans",sans-serif;
	text-align: center;
}

#headerContainer {
	transition: height 600ms ease-in-out;
	-webkit-transition: height 600ms ease-in-out;
	position: relative;
	height: 300px;
	padding: 40px;
	background-color: #3da1d1;
	border-bottom: 1px #444 solid;
	color: #fff;
}

#headerContainer.normal {
	height: 60px;
}

#headerTextContainer {
	position: absolute;
	bottom: 40px;
	left: 30%;
	width: 40%;
	text-align: center;
}

#headerText {
	font-size: 50px;
	font-weight: 100;
	cursor: pointer;
}

#headerText:hover {
	text-decoration: underline;
}

#contentContainer {
	margin: 0 auto;
	padding: 0 100px;
	max-width: 500px;
	transition: opacity 800ms ease-in-out;
	-webkit-transition: opacity 800ms ease-in-out;
}

#contentContainer.hidden {
	opacity: 0;
}

#whereJsLink {
	transition: width 600ms;
	-webkit-transition: width 600ms;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	width: 60px;
	color: #3da1d1;
}

#whereJsLink:hover {
	width: 300px;
}

